.scroll-down{
    @include phone-only{
        header{
            padding: 10px 0;
            transition: $transition;
    
            div.logo{
                    width: 0px !important;
                    transition: $transition;
                    margin-top: 0px !important;
            }
        }
    }
}
header{
    padding: 1em 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    transition: $transition;
    position: fixed;
    @include phone-only{
        // position: fixed;
        // box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
        position: relative;

    }
    .mobileWrap{
        @include phone-only{
            background-color: #fff;
            position: fixed;
            width: 100%;
            left: 0;
            z-index: 99999;
            padding-bottom: 30px;
        }
        
    
    }
    .mobile-hamburger{
        display: none;
        @include phone-only{
            position: relative;
            display: inline-block;
            z-index: 100;
            left: 20px;
            top: 70px;
            @supports (-webkit-touch-callout: none) {
                top: 70px;
              }
        }
    }
    .header-inner{
        display:grid;
        grid-template-columns: 1fr 3fr;
        padding: 0 2em;
        align-items: center;
        background-color: #fff;
        @include phone-only(){
            grid-template-columns: auto;
            // margin-left: 80px;
            padding-top: 10px;
            justify-content: center;
            // position: fixed;
            margin-top: -2em;
            position: relative;
            @supports (-webkit-touch-callout: none) {
                margin-top: -4em;
              }
        }
        @include small-phone{
            // margin-left: 30px;
        }
        .gatsby-image-wrapper{
            width: 100px;
            @include tablet-portrait{
                width: 120px !important;
            }
        }
        .leftColumn{
            text-align: center;
            display: grid;
            grid-template-columns: 3fr 1fr;


            .logo-subtitle{
                font-weight: bold;
                font-size: 0.9em;
            }
        }
    }
    .logo{
        justify-self: flex-start;
        transition: $transition;

        @include phone-only{
            margin-top: 20px;
            margin-left: 10px;
            justify-self: center;

            position: relative;
            top: 100px;
        }
        @supports (-webkit-touch-callout: none) {
            top: 140px;
          }
    }
    .items{
        display: grid;
        grid-template-columns: 3fr 2fr;
        // gap: 100px;
        @include tiny-desktop{
            gap: 20px;
        }
        @include tablet-portrait{
            // grid-template-rows: 100px;
            grid-template-columns: initial;
            .headerBtns{
                justify-self: end;
                grid-row: 1;
            }
        }
        @include phone-only{
            display: block;
            grid-column: 1;
            grid-row: 1;
            margin-bottom: 20px;
            // margin-top: 30px;
            position: relative;
            // left: 100px;
            top: 20px;

        }
        .headerBtns{
            @include phone-only{
                justify-self: initial;
                grid-row: initial;
            }
        }
        
    }
    .menu{
        justify-self: end;
        align-self: center;
        @include tablet-portrait{
            grid-row: 2;

        }
        @include phone-only{
            display: none;
        }
        ul{
            display: flex;
            gap: 50px;
            margin: 0;
        @include tiny-desktop{
            gap: 20px;
        }
            
            li{
                list-style: none;
                text-transform: uppercase;
                font-weight: 300;
            }
        }
    }
    .headerBtns{
        display: flex;
        justify-content: center;
    }
    .headerbtn{
        padding: 15px 30px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        border:1px solid;
        // width: 160px;
        border-radius: 20px;
        display: block;
        @include tablet-portrait{
            width: 280px;
        }
        @include phone-only{
            font-size: 1.2em !important;
            width: auto;
        }
        @include small-phone{
            font-size: 0.7em !important;
        }
        &.phone{
            padding: 16px 30px;
        }
        span{
            margin-right: 10px;
        }
        .calltext{
            @include phone-only{
                display: none;
            }
        }
    }
    .gatsby-image-wrapper{
        // transition: opacity .3s ease;
        &:hover{
            opacity: 0.7;
            transition: opacity .3s ease;
        }
        img{
            //width:150px !important;
        }
    }
    .schedule{
        transition: all ease 0.2s;
        margin-right: 5px;
        cursor:pointer;
        &:hover{
            background-color: #f9f9f9 !important;
            color: #353535;
            transition: all ease 0.2s;
        }
        @include tablet-portrait(){
            display:none;
        }
    }
    .phone{
        transition: all ease 0.2s;
        &:hover{
            // background-color: #f9f9f9 !important;
            opacity: 0.7;
            color: #353535;
            transition: all ease 0.2s;
        }
        @include phone-only{
            // display:none;
        }
    }
    .mobile-menu{
        display: none;
        left: -300px;
        position: fixed;
        z-index: 999;
        width: 0;
        transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        top:0;
        right: 0;
        bottom: 0;
        padding: 100px;
        height: 100vh;

        ul{
            position: relative;
            margin-left: 0;
            width: 130px;
            li{
                list-style: none;
                font-size: 1.3em !important;
                a{
                    color: #fff;
                }
            }
        }

        &.active{
            transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);

            width: 100%;
            left: 0;
            // bottom: 0;
            .close-menu{
                position: absolute;
                left: 30px;
                top: 30px;
                svg{
                    fill: #fff;

                }
            }
            
        }
        @include phone-only{
            display: block;
        }
    }
}
.overflow-hidden{
    height: 100vh;
    overflow: hidden;
    main, .header-inner{
        filter: blur(4px);
    }
}
main{
    margin-top: 100px;
    @include phone-only{

        margin-top: 50px;
    }
}