.pageHeader{
    // margin-top: 200px;
    padding: 50px 100px 100px;
    width: 80%;
    margin: 0 auto;
    @include tiny-desktop{
        padding: 50px 20px;
    }
    @include tablet-portrait{
        width: 100%;
    }
    .columns{
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
        @include phone-only{
            // grid-template-columns: initial;
        }
        .column{
            // width: 50%;
        }
        .column1{
            border-radius: 50px 0 50px 0;
            .column-inner{
                // padding-right: 100px;
                height: 400px;
                width: 100%;
                border-radius: 50px 0 50px 0;
                @include phone-only{
                    height: auto;
                }

            }
            .leftImage{
                border-radius: 50px 0 50px 0 !important;
                @include phone-only{
                    height: 300px !important;
                }

                &:before, &:after{
                border-radius: 50px 0 50px 0 !important;

                }
            }
            
        }
        .column2{
            // padding-right: 100px;
            .location{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.8em;
            }
            h2{

            }
            p{

            }
            .schedule-btn{
                margin-top: 50px;
                a, span{
                    // background: linear-gradient(to right, #E49B74, #CC562E);
                    padding: 20px;
                    border-radius: 20px;
                    color: #fff;
                    transition: all ease .2s;
                    cursor: pointer;
                    font-size: 0.9em;

                    @include tablet-portrait{
                        font-size: 0.6em !important;
                    }
                    @include phone-only{
                        font-size: 0.8em !important;
                    }

                    &:hover{
                        // background: linear-gradient(to right, #CC562E, #E49B74);
                        transition: all ease .2s;
                    }
                    svg{
                        animation: bounce .8s infinite alternate ease-in-out;
                    }
                    @keyframes bounce {
                        0% {
                          transform: translateX(0);
                        }

                        100% {
                          transform: translateX(10px);
                        }
                      }
                }
            }
        }
    }
    .servicesSelection{
        margin-top: 50px;
        .servicesIcons{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .service{
                width: 30%;
                @include tablet-portrait{
                    width: 45%
                }
                @include phone-only{
                    width: 100%;
                    margin-left: 20px;
                }
                .service-inner{
                    a{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .icon{
                            display: flex;
                            align-items: center;
                            img{
                                margin-bottom: 0;
                            }
                            .serviceName{
                                @include tablet-portrait{
                                    font-size: 0.6em !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}