.about-us .pageHeader, .our-services .pageHeader, .coupons .pageHeader, .reviews .pageHeader {
    .column1{
        div.column-inner{
            height: 450px;
        }
    }
}
.pageHeader{
    // margin-top: 200px;
    padding: 50px 0px 100px;
    width: 80%;
    margin: 0 auto;
    @include tiny-desktop{
        padding: 50px 20px;
    }
    @include tablet-portrait{
        width: 100%;
    }
    .columns{
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
        @include phone-only{
            // grid-template-columns: initial;
        }
        .column{
            // width: 50%;
        }
        .column1{
            border-radius: 50px 0 50px 0;
            .column-inner{
                // padding-right: 100px;
                height: 600px;
                width: 100%;
                border-radius: 50px 0 50px 0;
                @include phone-only{
                    height: auto;
                }

            }
            .leftImage{
                border-radius: 50px 0 50px 0 !important;
                @include phone-only{
                    height: 300px !important;
                }

                &:before, &:after{
                border-radius: 50px 0 50px 0 !important;

                }
            }
            
        }
        .column2{
            // padding-right: 100px;
            .location{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.8em;
            }
            h2{

            }
            p{

            }
            .schedule-btn{
                margin-top: 50px;
                a, span{
                    // background: linear-gradient(to right, #E49B74, #CC562E);
                    padding: 20px 30px 20px;
                    border-radius: 20px;
                    color: #fff;
                    transition: all ease .2s;
                    cursor: pointer;
                    font-size: 0.9em;
                    display: block;
                    width: 440px;
                    @include desktop-small{
                        width: 320px;
                    }

                    @include tablet-portrait{
                        font-size: 0.6em !important;
                    }
                    @include phone-only{
                        font-size: 1em !important;
                    }

                    &:hover{
                        // background: linear-gradient(to right, #CC562E, #E49B74);
                        transition: all ease .2s;
                    }
                    
                    
                }
            }
        }
    }
    .servicesSelection{
        margin-top: 50px;
        .servicesIcons{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .service{
                // width: 30%;
                width: 200px;
                @include tablet-portrait{
                    width: 200px
                }
                @include phone-only{
                    width: 100%;
                    margin-left: 20px;
                }
                .service-inner{
                    a{
                        display: flex;
                        align-items: center;
                        // gap: 10px;
                        .icon{
                            display: flex;
                            align-items: center;
                            width: 50px;
                            margin-right: 10px;
                            img{
                                margin-bottom: 0;
                                width: 50px;
                                height: 50px;
                            }
                            .serviceName{
                                @include tablet-portrait{
                                    font-size: 0.6em !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}