.uspSection{
    width: 80%;
    margin: 0 auto;
    @include tiny-desktop{
        width: 95%;
    }
    .inner{
        .uspTitle{
            text-align: center;
        }
        .uspColumns{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            column-gap: 50px;
            row-gap: 100px;
            padding: 80px;
            @include tablet-portrait{
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

            }
            @include phone-only{
                padding: 80px 20px;
            }
            .column{
                .column-inner{
                    position: relative;
                    box-shadow: 0 0px 20px rgba(0,0,0,.2);
                    padding: 100px 50px 50px;
                    border-radius: 30px 0 30px 0;
                    text-align: center;

                    .icon{
                        height: 97px;
                        width: 97px;
                        border-radius: 100px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            margin-bottom: 0;
                        }

                    }
                    .serviceTitle{
                        text-align: center;
                    }
                    p{
                        text-align: center;
                    }
                    .serviceLink{
                        text-align: center;
                    }
                }
            }
        }
    }
}