/**************************************
*********** MAIN STYLESHEET ***********
***MADE BY VITALSTORM MARKETING INC***
**************************************/


$transition: 0.2s ease all;

/**** IMPORTS ****/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import './variables/media_queries.scss';


@keyframes bounce {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(10px);
    }
  }


/**** MEDIA QUERIES ****/
@mixin small-phone {
    @media (max-width: 400px) { @content; }
}
@mixin phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait {
    @media (max-width: 830px) { @content; }
}
@mixin tablet-landscape {
    @media (max-width: 900px) { @content; }
}
@mixin tiny-desktop{
    @media (max-width: 1025px){ @content; }
}
@mixin desktop {
    @media (max-width: 1200px) { @content; }
}
@mixin desktop-small {
    @media (max-width: 1400px) { @content; }
}
@mixin big-desktop {
    @media (max-width: 1600px) { @content; }
}

/**** COMPONENTS ****/
@import './components/pageHeader.scss';
@import './components/footer.scss';
@import './components/header.scss';
@import './components/uspSection.scss';
@import './components/coupon-form-section.scss';
@import './components/socialProof.scss';
@import './components/contentSection.scss';
@import './components/reviewsSection.scss';
@import './components/servicesSection.scss';
@import './components/form.scss';

/**** PAGES ****/
@import './ourServices.scss';
@import './servicePage.scss';
@import './pages/reviews.scss';
@import './pages/coupons.scss';
@import './404.scss';
@import './pages/about-page.scss';

body{
    background: #fff;
    font-family: "Inter" !important;
    color: #2A4A65;

    
    h1, h2, h3, h4, h5, h6{
        font-family: "Inter";
        margin-top: 15px;
        color: #2A4A65;
    }
    h1{
        font-size: 1.6em;
        font-weight: 600;
    }
    .pagewrapper{
        width:100%;
        overflow: hidden;
        position: relative;
    }
    p{
        margin: 25px 0;
        font-size: 0.9em !important;
        line-height: 200% !important;
        color: #2A4A65;
    }
    a{
        font-size: 0.9em !important;
        text-decoration: none;
        font-weight: 600;
        transition: all ease 0.3s;
        color: #2A4A65;
        &:hover{
            color: #7A9FBC;
            transition: all ease 0.3s;
        }
    }
    ul{
        margin-top: 15px;
        li{
            font-size: 0.9em !important;
            color: #2A4A65;

        }
    }
    .container{
        max-width: 1100px;
        margin:auto;
        @include desktop{
            width:90%;
        }
        @include tablet-landscape{
            width:700px;
        }
        @include tablet-portrait{
            width:500px;
        }
        @include phone-only{
            width:360px;
        }
    }
    
    ul{
        li{
            font-size: 1em;
        }
    }
    .buttonstyle{
        // background: linear-gradient(to right, #E49B74, #CC562E);
        padding: 20px;
        border-radius: 20px;
        color: #fff;
        transition: all ease .2s;
            &:hover{
                // background: linear-gradient(to right, #CC562E, #E49B74);
                transition: all ease .2s;
                color: #fff;
            }

            svg{
                animation: bounce .8s infinite alternate ease-in-out;
                position: relative;
                top: 3px;
            }
    }
.pageHeaderbg{
    background-position: center;
}
    

    .pageContent{
        .row{
            padding: 60px 0; 
        }
        h2{
            font-size: 1.4em;
            font-weight: 500;
            margin-top: 1em !important;
        }

    }
    .servicesRow{
     display:flex; 
        .leftSection{
            width:50%;
            @include tablet-portrait(){
                display:none;
            }
        }
        .rightSection{
            width:50%;
            padding: 4.5em;
            @include tablet-portrait(){
                width:100%;
            }
            @include phone-only(){
                padding: 4em 2em;
            }
            
            position: relative;
            .servicesBlockTitle{
                text-align: center;
                h2{
                    color:#fff;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
            hr{
                height:2px;
                border:0;
                width: 150px;
                margin: 20px auto;
            }
            p{
                color: #fff;
            }  
            a{
                position: absolute;
                right:0;
                bottom: 0;
                padding: 15px 50px;

                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                transition: all ease 0.2s;
                &:hover{
                    transition: all ease 0.2s;
                    background-color: #f9f9f9 !important;
                    color: #353535;
                }
                @include tablet-portrait(){
                    position: relative;
                    top: 20px;
                }
            }
        }
    }
    
}

.scheduleMobile{
    display:none;
    cursor:pointer;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index: 99;
    @include tablet-portrait(){
        display:flex;
    }
    .innerSchedule{
        text-align: center;
        padding: 20px 0;
        width: 50%;
        svg{
            fill:#fff;
        }
        span{
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    .innerPhone{
        width: 50%;
        text-align: center;
        padding: 20px 0;
        text-transform: uppercase;
        color: #fff;
    }
}
