.couponsRow{
    width: 80%;
    margin: 0 auto;
    padding:  0 0 100px 0;
    @include phone-only{
        padding-bottom: 0;
    }
    .inner{
        ul{
            list-style: none;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            // grid-template-columns: 1fr 1fr 1fr;
            column-gap: 50px;
            row-gap: 50px;
            @include tablet-portrait{
                grid-template-columns: auto;
            }
            li{
                padding: 70px 70px 40px;
                min-height: 300px;
                border-radius: 30px;
                text-align: center;
                @include tablet-portrait{
                    padding: 70px 30px 40px;
                }
                .couponTitle{
                    font-size: 2.3em;
                    font-weight: bold;
                    line-height: 45px;
                    @include tablet-portrait{
                        font-size: 2em;
                    }
                }
                .couponType{
                    font-size: 1.2em;
                    margin-top: 30px;
                    font-weight: bold;
                    display: block;
                    @include tablet-portrait{
                        font-size: 1.4em;
                    }
                }
                .restrictions{
                    font-size: 0.7em !important;
                    line-height: 15px !important;
                    margin: 0;
                    font-style: italic;
                }
            }
        }
    }
    
}