.reviewsSection{
    width: 80%;
    margin: 0 auto;
    .reviewRow{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        column-gap: 50px;
        row-gap: 50px;
        .review{
            background-color: #EAF1F6;
            border-radius: 30px 0 30px 0;
            padding: 50px;
            position: relative;
            .quote-icon{
                content: '';
                width: 130px;
                height: 100px;
                display: block;
                background-repeat: no-repeat;
                position: absolute;
                background-position: center;
                left: 0;
                top: 10px;
            }
            .reviewText{
                position: relative;
                font-style: italic;
            }
            .review-meta{
                .author{
                    font-weight: bold;
                }
            }
        }
    }
}